@model IEnumerable<cart>
@{
    ViewData["Title"] = "cart";
}
@foreach (var cart in Model)
	{
        <h1>@cart.Created</h1>
        <h1>@cart.Customer</h1>
        <h1>@cart.Order</h1>
        <h1></h1>
        
	}



