@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Customer>
@*@{
    Layout = "~/Views/Shared/_navbar.cshtml";
}*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
        <li>@item.Email</li>
    }
    </ul>
</div>
