<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">

                <img src="~/Images/qrcode.jpg" width="320rem" />
                <div class="card-body">
                    <h5 class="card-title">Total cost: 500</h5>
                    <p class="card-text">thanks for shopping from us faizan.</p>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">send Bill to mail</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>